.message {
    padding : 10px;
    margin: 10px;
    width: fit-content;
}

.message__user{
    margin-left : auto;
    
    text-align: left !important;
}

.message__userCard {
    color: white !important;
    background-color: rgb(24, 73, 233) !important;
}
.message__guestCard {
    
    background-color: rgb(215, 217, 221) !important;
}